force-app/main/default/flows/Survey_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>Above</name>
        <choiceText>Above</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>AgencyOneOff</name>
        <choiceText>One-off end client/campaign opp</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>AgencyRunrate</name>
        <choiceText>Run-rate opp</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Below</name>
        <choiceText>Below</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>DriverAgency</name>
        <choiceText>Agency</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>DriverClient</name>
        <choiceText>Client</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>DriverConsultant</name>
        <choiceText>Consultant</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>GeographyGlobal</name>
        <choiceText>Global</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>GeographyLocal</name>
        <choiceText>Local</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>GeographyRegional</name>
        <choiceText>Regional</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>LaunchPlanNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>LaunchPlanYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>LiveNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>LiveYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>ReasonLostAdministration</name>
        <choiceText>Administration</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>ReasonLostBudgetCancelled</name>
        <choiceText>Budget Cancelled</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>ReasonLostCompetitor</name>
        <choiceText>Competitor</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>ReasonLostFeatures</name>
        <choiceText>Features</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>ReasonLostMinimumCommitment</name>
        <choiceText>Minimum Commitment</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>ReasonLostOther</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>ReasonLostPricing</name>
        <choiceText>Pricing</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>ReasonLostService</name>
        <choiceText>Service</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>ReasonLostTiming</name>
        <choiceText>Timing</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>ReasonWon</name>
        <choiceText>Services</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>ReasonWonCompetitor</name>
        <choiceText>Competitor</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>ReasonWonFeatures</name>
        <choiceText>Features</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>ReasonWonOther</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>ReasonWonPricing</name>
        <choiceText>Pricing</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>ReasonWonService</name>
        <choiceText>Service</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>ScopeIIIAbove</name>
        <choiceText>Above</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>ScopeIIIBelow</name>
        <choiceText>Below</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>ScopeIMultiEnd</name>
        <choiceText>Multi End</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>ScopeISingleEnd</name>
        <choiceText>Single End</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>SignatureNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>SignatureYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Get_Questions_By_Stage</name>
        <label>Get Questions By Stage</label>
        <locationX>924</locationX>
        <locationY>241</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Lead_Scoping_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityRecord.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead Scoping</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Scoping</targetReference>
            </connector>
            <label>Selected Lead Scoping Stage</label>
        </rules>
        <rules>
            <name>Selected_Qualification_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityRecord.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Qualification</targetReference>
            </connector>
            <label>Selected Qualification Stage</label>
        </rules>
        <rules>
            <name>Selected_True_Sales_Case_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityRecord.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>True Sales Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>True_Sales_Case</targetReference>
            </connector>
            <label>Selected True Sales Case Stage</label>
        </rules>
        <rules>
            <name>Selected_Deal_Closing_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityRecord.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deal Closing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deal_Closing</targetReference>
            </connector>
            <label>Selected Deal Closing Stage</label>
        </rules>
        <rules>
            <name>Selected_Final_Negotiations_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityRecord.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Final Negotiations</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Final_Negotiation</targetReference>
            </connector>
            <label>Selected Final Negotiations Stage</label>
        </rules>
        <rules>
            <name>Selected_Contract_Signing_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityRecord.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract Signing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contract_Signing</targetReference>
            </connector>
            <label>Selected Contract Signing Stage</label>
        </rules>
        <rules>
            <name>Selected_Closed_Won_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityRecord.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Closed_Won</targetReference>
            </connector>
            <label>Selected Closed Won Stage</label>
        </rules>
        <rules>
            <name>Selected_Closed_Lost_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityRecord.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Closed_Lost</targetReference>
            </connector>
            <label>Selected Closed Lost Stage</label>
        </rules>
    </decisions>
    <description>Opportunity Survey Flow 3.1
Final version
Updated answer field in Questionnaire object</description>
    <formulas>
        <name>ActualCashValuesFormula</name>
        <dataType>String</dataType>
        <expression>{!ActualCashValuesTextTemplate}</expression>
    </formulas>
    <formulas>
        <name>AgencyFormula</name>
        <dataType>String</dataType>
        <expression>{!AgencyTextTemplate}</expression>
    </formulas>
    <formulas>
        <name>DriverTextFormula</name>
        <dataType>String</dataType>
        <expression>{!DriverTextTemplate}</expression>
    </formulas>
    <formulas>
        <name>GeographyTextFormula</name>
        <dataType>String</dataType>
        <expression>{!GeographyTextTemplate}</expression>
    </formulas>
    <formulas>
        <name>LaunchingDateFormula</name>
        <dataType>String</dataType>
        <expression>{!LaunchingDateTextTemplate}</expression>
    </formulas>
    <formulas>
        <name>LaunchPlanTextFormula</name>
        <dataType>String</dataType>
        <expression>{!LaunchPlanTextTemplate}</expression>
    </formulas>
    <formulas>
        <name>ReasonLosttextFormula</name>
        <dataType>String</dataType>
        <expression>{!ReasonLostPicklist}</expression>
    </formulas>
    <formulas>
        <name>ReasonWonForumula</name>
        <dataType>String</dataType>
        <expression>{!ReasonWonTextTemplate}</expression>
    </formulas>
    <formulas>
        <name>ScopeITextFormula</name>
        <dataType>String</dataType>
        <expression>{!ScopeITextTemplate}</expression>
    </formulas>
    <formulas>
        <name>SignatureTextFormula</name>
        <dataType>String</dataType>
        <expression>{!SignatureTextTemplate}</expression>
    </formulas>
    <formulas>
        <name>SigningDateFormula</name>
        <dataType>String</dataType>
        <expression>{!SigningDateTextTemplate}</expression>
    </formulas>
    <interviewLabel>Survey Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Survey Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Questionaire_Record_For_Contract_Signing</name>
        <label>Create Questionaire Record For Contract Signing</label>
        <locationX>1457</locationX>
        <locationY>545</locationY>
        <connector>
            <targetReference>Create_Questionaire_Record_For_Contract_Signing_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Answer__c</field>
            <value>
                <elementReference>SignatureTextFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Stage__c</field>
            <value>
                <elementReference>OpportunityRecord.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question__c</field>
            <value>
                <stringValue>Signed?</stringValue>
            </value>
        </inputAssignments>
        <object>Questionnaire__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Questionaire_Record_For_Contract_Signing_0</name>
        <label>Create Questionaire Record For Contract Signing</label>
        <locationX>1461</locationX>
        <locationY>679</locationY>
        <connector>
            <targetReference>Update_Opportunity_Display_Popup_Field</targetReference>
        </connector>
        <inputAssignments>
            <field>Answer__c</field>
            <value>
                <elementReference>LaunchPlanTextFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Stage__c</field>
            <value>
                <elementReference>OpportunityRecord.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question__c</field>
            <value>
                <stringValue>On track per commit &amp; timeline?</stringValue>
            </value>
        </inputAssignments>
        <object>Questionnaire__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Questionnaire_For_Closed_Lost</name>
        <label>Create Questionnaire For Closed Lost</label>
        <locationX>1891</locationX>
        <locationY>309</locationY>
        <connector>
            <targetReference>Create_Questionnaire_Record_For_Closed_Lost_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Answer__c</field>
            <value>
                <elementReference>ReasonLosttextFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Stage__c</field>
            <value>
                <elementReference>OpportunityRecord.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question__c</field>
            <value>
                <stringValue>Reason Lost</stringValue>
            </value>
        </inputAssignments>
        <object>Questionnaire__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Questionnaire_Record_For_Closed_Lost_0</name>
        <label>Create Questionnaire Record For Closed Lost</label>
        <locationX>1889</locationX>
        <locationY>439</locationY>
        <connector>
            <targetReference>Create_Questionnaire_Record_For_Closed_Lost_1</targetReference>
        </connector>
        <inputAssignments>
            <field>Answer__c</field>
            <value>
                <elementReference>Please_Comment_lost</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Stage__c</field>
            <value>
                <elementReference>OpportunityRecord.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question__c</field>
            <value>
                <stringValue>Please Comment</stringValue>
            </value>
        </inputAssignments>
        <object>Questionnaire__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Questionnaire_Record_For_Closed_Lost_1</name>
        <label>Create Questionnaire Record For Closed Lost</label>
        <locationX>1888</locationX>
        <locationY>580</locationY>
        <connector>
            <targetReference>Update_Opportunity_Display_Popup_Field</targetReference>
        </connector>
        <inputAssignments>
            <field>Answer__c</field>
            <value>
                <elementReference>Winning_Competitor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Stage__c</field>
            <value>
                <elementReference>OpportunityRecord.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question__c</field>
            <value>
                <stringValue>Winning Competitor</stringValue>
            </value>
        </inputAssignments>
        <object>Questionnaire__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Questionnaire_Record_For_Closed_Won</name>
        <label>Create Questionnaire Record For Closed Won</label>
        <locationX>1697</locationX>
        <locationY>414</locationY>
        <connector>
            <targetReference>Create_Questionnaire_Record_For_Closed_Won_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Answer__c</field>
            <value>
                <elementReference>ReasonWonForumula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Stage__c</field>
            <value>
                <elementReference>OpportunityRecord.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question__c</field>
            <value>
                <stringValue>Reason Won</stringValue>
            </value>
        </inputAssignments>
        <object>Questionnaire__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Questionnaire_Record_For_Closed_Won_0</name>
        <label>Create Questionnaire Record For Closed Won</label>
        <locationX>1700</locationX>
        <locationY>552</locationY>
        <connector>
            <targetReference>Update_Opportunity_Display_Popup_Field</targetReference>
        </connector>
        <inputAssignments>
            <field>Answer__c</field>
            <value>
                <elementReference>Please_Comment_Won</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Stage__c</field>
            <value>
                <elementReference>OpportunityRecord.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question__c</field>
            <value>
                <stringValue>Please Comment</stringValue>
            </value>
        </inputAssignments>
        <object>Questionnaire__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Questionnaire_Record_For_Deal_Closing</name>
        <label>Create Questionnaire Record For Deal Closing</label>
        <locationX>594</locationX>
        <locationY>592</locationY>
        <connector>
            <targetReference>Create_Questionnaire_Record_For_Deal_Closing_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Answer__c</field>
            <value>
                <elementReference>Expected_Objections</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Stage__c</field>
            <value>
                <elementReference>OpportunityRecord.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question__c</field>
            <value>
                <stringValue>What are the objections we should expect and how do you plan to overcome them?</stringValue>
            </value>
        </inputAssignments>
        <object>Questionnaire__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Questionnaire_Record_For_Deal_Closing_0</name>
        <label>Create Questionnaire Record For Deal Closing</label>
        <locationX>593</locationX>
        <locationY>710</locationY>
        <connector>
            <targetReference>Create_Questionnaire_Record_For_Deal_Closing_1</targetReference>
        </connector>
        <inputAssignments>
            <field>Answer__c</field>
            <value>
                <elementReference>Competitive_Strategy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Stage__c</field>
            <value>
                <elementReference>OpportunityRecord.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question__c</field>
            <value>
                <stringValue>What are our competitors doing at this stage? Is our competitive strategy working?</stringValue>
            </value>
        </inputAssignments>
        <object>Questionnaire__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Questionnaire_Record_For_Deal_Closing_1</name>
        <label>Create Questionnaire Record For Deal Closing</label>
        <locationX>596</locationX>
        <locationY>824</locationY>
        <connector>
            <targetReference>Create_Questionnaire_Record_For_Deal_Closing_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Answer__c</field>
            <value>
                <elementReference>Custom_Dev</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Stage__c</field>
            <value>
                <elementReference>OpportunityRecord.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question__c</field>
            <value>
                <stringValue>If custom dev or integration required, is it scoped/agreed with Product/Solutions or BD?</stringValue>
            </value>
        </inputAssignments>
        <object>Questionnaire__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Questionnaire_Record_For_Deal_Closing_2</name>
        <label>Create Questionnaire Record For Deal Closing</label>
        <locationX>594</locationX>
        <locationY>938</locationY>
        <connector>
            <targetReference>Create_Questionnaire_Record_For_Deal_Closing_3</targetReference>
        </connector>
        <inputAssignments>
            <field>Answer__c</field>
            <value>
                <elementReference>Onboarding</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Stage__c</field>
            <value>
                <elementReference>OpportunityRecord.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question__c</field>
            <value>
                <stringValue>Have we scoped an onboarding/implementation plan?</stringValue>
            </value>
        </inputAssignments>
        <object>Questionnaire__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Questionnaire_Record_For_Deal_Closing_3</name>
        <label>Create Questionnaire Record For Deal Closing</label>
        <locationX>595</locationX>
        <locationY>1052</locationY>
        <connector>
            <targetReference>Create_Questionnaire_Record_For_Deal_Closing_4</targetReference>
        </connector>
        <inputAssignments>
            <field>Answer__c</field>
            <value>
                <elementReference>Approver</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Stage__c</field>
            <value>
                <elementReference>OpportunityRecord.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question__c</field>
            <value>
                <stringValue>Who will approve the deal and are they briefed on the pricing &amp; terms?</stringValue>
            </value>
        </inputAssignments>
        <object>Questionnaire__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Questionnaire_Record_For_Deal_Closing_4</name>
        <label>Create Questionnaire Record For Deal Closing</label>
        <locationX>596</locationX>
        <locationY>1174</locationY>
        <connector>
            <targetReference>Update_Opportunity_Display_Popup_Field</targetReference>
        </connector>
        <inputAssignments>
            <field>Answer__c</field>
            <value>
                <elementReference>Urgency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Stage__c</field>
            <value>
                <elementReference>OpportunityRecord.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question__c</field>
            <value>
                <stringValue>Is there a sense of urgency and how to create one?</stringValue>
            </value>
        </inputAssignments>
        <object>Questionnaire__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Questionnaire_Record_For_Final_Negotiations</name>
        <label>Create Questionnaire Record For Final Negotiations</label>
        <locationX>1240</locationX>
        <locationY>601</locationY>
        <connector>
            <targetReference>Create_Questionnaire_Record_For_Final_Negotiations_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Answer__c</field>
            <value>
                <elementReference>SigningDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Stage__c</field>
            <value>
                <elementReference>OpportunityRecord.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question__c</field>
            <value>
                <stringValue>When would we expect to sign?</stringValue>
            </value>
        </inputAssignments>
        <object>Questionnaire__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Questionnaire_Record_For_Final_Negotiations_0</name>
        <label>Create Questionnaire Record For Final Negotiations</label>
        <locationX>1241</locationX>
        <locationY>715</locationY>
        <connector>
            <targetReference>Create_Questionnaire_Record_For_Final_Negotiations_1</targetReference>
        </connector>
        <inputAssignments>
            <field>Answer__c</field>
            <value>
                <elementReference>LaunchingDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Stage__c</field>
            <value>
                <elementReference>OpportunityRecord.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question__c</field>
            <value>
                <stringValue>When would we expect to launch?</stringValue>
            </value>
        </inputAssignments>
        <object>Questionnaire__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Questionnaire_Record_For_Final_Negotiations_1</name>
        <label>Create Questionnaire Record For Final Negotiations</label>
        <locationX>1243</locationX>
        <locationY>836</locationY>
        <connector>
            <targetReference>Create_Questionnaire_Record_For_Final_Negotiations_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Answer__c</field>
            <value>
                <elementReference>Final_priorities</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Stage__c</field>
            <value>
                <elementReference>OpportunityRecord.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question__c</field>
            <value>
                <stringValue>What are the priorities in final negotiation? What is the bottom line price?</stringValue>
            </value>
        </inputAssignments>
        <object>Questionnaire__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Questionnaire_Record_For_Final_Negotiations_2</name>
        <label>Create Questionnaire Record For Final Negotiations</label>
        <locationX>1246</locationX>
        <locationY>964</locationY>
        <connector>
            <targetReference>Create_Questionnaire_Record_For_Final_Negotiations_3</targetReference>
        </connector>
        <inputAssignments>
            <field>Answer__c</field>
            <value>
                <elementReference>Revenue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Stage__c</field>
            <value>
                <elementReference>OpportunityRecord.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question__c</field>
            <value>
                <stringValue>What revenue are you willing to commit to this Quarter/Year?</stringValue>
            </value>
        </inputAssignments>
        <object>Questionnaire__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Questionnaire_Record_For_Final_Negotiations_3</name>
        <label>Create Questionnaire Record For Final Negotiations</label>
        <locationX>1247</locationX>
        <locationY>1077</locationY>
        <connector>
            <targetReference>Create_Questionnaire_Record_For_Final_Negotiations_4</targetReference>
        </connector>
        <inputAssignments>
            <field>Answer__c</field>
            <value>
                <elementReference>Final_scoping</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Stage__c</field>
            <value>
                <elementReference>OpportunityRecord.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question__c</field>
            <value>
                <stringValue>Final scoping &amp; implementation plan agreed with client?</stringValue>
            </value>
        </inputAssignments>
        <object>Questionnaire__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Questionnaire_Record_For_Final_Negotiations_4</name>
        <label>Create Questionnaire Record For Final Negotiations</label>
        <locationX>1249</locationX>
        <locationY>1200</locationY>
        <connector>
            <targetReference>Update_Opportunity_Display_Popup_Field</targetReference>
        </connector>
        <inputAssignments>
            <field>Answer__c</field>
            <value>
                <elementReference>Blockers</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Stage__c</field>
            <value>
                <elementReference>OpportunityRecord.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question__c</field>
            <value>
                <stringValue>Any contract blockers? Are these escalated?</stringValue>
            </value>
        </inputAssignments>
        <object>Questionnaire__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Questionnaire_Record_For_Lead_Scoping</name>
        <label>Create Questionnaire Record For Lead Scoping</label>
        <locationX>45</locationX>
        <locationY>302</locationY>
        <connector>
            <targetReference>Create_Questionnaire_Record_For_Lead_Scoping_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Answer__c</field>
            <value>
                <elementReference>GeographyTextFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Stage__c</field>
            <value>
                <elementReference>OpportunityRecord.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question__c</field>
            <value>
                <stringValue>Is it local, regional or global?</stringValue>
            </value>
        </inputAssignments>
        <object>Questionnaire__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Questionnaire_Record_For_Lead_Scoping_0</name>
        <label>Create Questionnaire Record For Lead Scoping</label>
        <locationX>40</locationX>
        <locationY>427</locationY>
        <connector>
            <targetReference>Create_Questionnaire_Record_For_Lead_Scoping_1</targetReference>
        </connector>
        <inputAssignments>
            <field>Answer__c</field>
            <value>
                <elementReference>ScopeITextFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Stage__c</field>
            <value>
                <elementReference>OpportunityRecord.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question__c</field>
            <value>
                <stringValue>If agency is it a single end client or multi-end client opportunity?</stringValue>
            </value>
        </inputAssignments>
        <object>Questionnaire__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Questionnaire_Record_For_Lead_Scoping_1</name>
        <label>Create Questionnaire Record For Lead Scoping</label>
        <locationX>41</locationX>
        <locationY>554</locationY>
        <connector>
            <targetReference>Create_Questionnaire_Record_For_Lead_Scoping_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Answer__c</field>
            <value>
                <elementReference>AgencyFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Stage__c</field>
            <value>
                <elementReference>OpportunityRecord.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question__c</field>
            <value>
                <stringValue>If agency is it one-off end client/campaign opp or run-rate opp ?</stringValue>
            </value>
        </inputAssignments>
        <object>Questionnaire__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Questionnaire_Record_For_Lead_Scoping_2</name>
        <label>Create Questionnaire Record For Lead Scoping</label>
        <locationX>43</locationX>
        <locationY>685</locationY>
        <connector>
            <targetReference>Update_Opportunity_Display_Popup_Field</targetReference>
        </connector>
        <inputAssignments>
            <field>Answer__c</field>
            <value>
                <elementReference>ActualCashValuesFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Stage__c</field>
            <value>
                <elementReference>OpportunityRecord.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question__c</field>
            <value>
                <stringValue>If agency is it below or above 25k ACV (actual cash value)</stringValue>
            </value>
        </inputAssignments>
        <object>Questionnaire__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Questionnaire_Record_For_Qualification</name>
        <label>Create Questionnaire Record For Qualification</label>
        <locationX>234</locationX>
        <locationY>397</locationY>
        <connector>
            <targetReference>Create_Questionnaire_Record_For_Qualification_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Answer__c</field>
            <value>
                <elementReference>DriverTextFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Stage__c</field>
            <value>
                <elementReference>OpportunityRecord.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question__c</field>
            <value>
                <stringValue>Who is leading the process?</stringValue>
            </value>
        </inputAssignments>
        <object>Questionnaire__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Questionnaire_Record_For_Qualification_0</name>
        <label>Create Questionnaire Record For Qualification</label>
        <locationX>233</locationX>
        <locationY>517</locationY>
        <connector>
            <targetReference>Create_Questionnaire_Record_For_Qualification_1</targetReference>
        </connector>
        <inputAssignments>
            <field>Answer__c</field>
            <value>
                <elementReference>Advocates</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Stage__c</field>
            <value>
                <elementReference>OpportunityRecord.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question__c</field>
            <value>
                <stringValue>Who (internal or external) do we need as advocates?</stringValue>
            </value>
        </inputAssignments>
        <object>Questionnaire__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Questionnaire_Record_For_Qualification_1</name>
        <label>Create Questionnaire Record For Qualification</label>
        <locationX>234</locationX>
        <locationY>620</locationY>
        <connector>
            <targetReference>Create_Questionnaire_Record_For_Qualification_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Answer__c</field>
            <value>
                <elementReference>Process</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Stage__c</field>
            <value>
                <elementReference>OpportunityRecord.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question__c</field>
            <value>
                <stringValue>Is it a formal or informal process? (RFP vs Informal Sales vs Farming via Agency)</stringValue>
            </value>
        </inputAssignments>
        <object>Questionnaire__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Questionnaire_Record_For_Qualification_2</name>
        <label>Create Questionnaire Record For Qualification</label>
        <locationX>232</locationX>
        <locationY>745</locationY>
        <connector>
            <targetReference>Create_Questionnaire_Record_For_Qualification_3</targetReference>
        </connector>
        <inputAssignments>
            <field>Answer__c</field>
            <value>
                <elementReference>Products</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Stage__c</field>
            <value>
                <elementReference>OpportunityRecord.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question__c</field>
            <value>
                <stringValue>How well does our standard Product fit their needs?</stringValue>
            </value>
        </inputAssignments>
        <object>Questionnaire__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Questionnaire_Record_For_Qualification_3</name>
        <label>Create Questionnaire Record For Qualification</label>
        <locationX>230</locationX>
        <locationY>869</locationY>
        <connector>
            <targetReference>Create_Questionnaire_Record_For_Qualification_4</targetReference>
        </connector>
        <inputAssignments>
            <field>Answer__c</field>
            <value>
                <elementReference>Budget</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Stage__c</field>
            <value>
                <elementReference>OpportunityRecord.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question__c</field>
            <value>
                <stringValue>Does the prospect have budget allocated against the opportunity?</stringValue>
            </value>
        </inputAssignments>
        <object>Questionnaire__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Questionnaire_Record_For_Qualification_4</name>
        <label>Create Questionnaire Record For Qualification</label>
        <locationX>228</locationX>
        <locationY>1000</locationY>
        <connector>
            <targetReference>Create_Questionnaire_Record_For_Qualification_5</targetReference>
        </connector>
        <inputAssignments>
            <field>Answer__c</field>
            <value>
                <elementReference>Compelling_Event</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Stage__c</field>
            <value>
                <elementReference>OpportunityRecord.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question__c</field>
            <value>
                <stringValue>What is the compelling event?</stringValue>
            </value>
        </inputAssignments>
        <object>Questionnaire__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Questionnaire_Record_For_Qualification_5</name>
        <label>Create Questionnaire Record For Qualification</label>
        <locationX>230</locationX>
        <locationY>1138</locationY>
        <connector>
            <targetReference>Update_Opportunity_Display_Popup_Field</targetReference>
        </connector>
        <inputAssignments>
            <field>Answer__c</field>
            <value>
                <elementReference>Decision_timeline</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Stage__c</field>
            <value>
                <elementReference>OpportunityRecord.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question__c</field>
            <value>
                <stringValue>When does the client expect to take the decision? How critical is this deadline and why?</stringValue>
            </value>
        </inputAssignments>
        <object>Questionnaire__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Questionnaire_Record_For_True_Sales_Case</name>
        <label>Create Questionnaire Record For True Sales Case</label>
        <locationX>430</locationX>
        <locationY>528</locationY>
        <connector>
            <targetReference>Create_Questionnaire_Record_For_True_Sales_Case_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Answer__c</field>
            <value>
                <elementReference>Competitive_Strategy_True_Sales_case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Stage__c</field>
            <value>
                <elementReference>OpportunityRecord.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question__c</field>
            <value>
                <stringValue>Who else is in consideration, what is our competitive strategy ? A) have you positioned our offering against the scope? B) How have you positioned our offer against competitors?</stringValue>
            </value>
        </inputAssignments>
        <object>Questionnaire__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Questionnaire_Record_For_True_Sales_Case_0</name>
        <label>Create Questionnaire Record For True Sales Case</label>
        <locationX>429</locationX>
        <locationY>656</locationY>
        <connector>
            <targetReference>Create_Questionnaire_Record_For_True_Sales_Case_1</targetReference>
        </connector>
        <inputAssignments>
            <field>Answer__c</field>
            <value>
                <elementReference>Custom_Dev_True_Sales_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Stage__c</field>
            <value>
                <elementReference>OpportunityRecord.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question__c</field>
            <value>
                <stringValue>Do we expect any custom dev/integrations?</stringValue>
            </value>
        </inputAssignments>
        <object>Questionnaire__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Questionnaire_Record_For_True_Sales_Case_1</name>
        <label>Create Questionnaire Record For True Sales Case</label>
        <locationX>435</locationX>
        <locationY>761</locationY>
        <connector>
            <targetReference>Create_Questionnaire_Record_For_True_Sales_Case_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Answer__c</field>
            <value>
                <elementReference>Meet_needs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Stage__c</field>
            <value>
                <elementReference>OpportunityRecord.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question__c</field>
            <value>
                <stringValue>How well does our service offering meet their needs? (Geos/Support)</stringValue>
            </value>
        </inputAssignments>
        <object>Questionnaire__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Questionnaire_Record_For_True_Sales_Case_2</name>
        <label>Create Questionnaire Record For True Sales Case</label>
        <locationX>432</locationX>
        <locationY>888</locationY>
        <connector>
            <targetReference>Create_Questionnaire_Record_For_True_Sales_Case_3</targetReference>
        </connector>
        <inputAssignments>
            <field>Answer__c</field>
            <value>
                <elementReference>Additional_factors</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Stage__c</field>
            <value>
                <elementReference>OpportunityRecord.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question__c</field>
            <value>
                <stringValue>What additional informal factors might influence decision ?</stringValue>
            </value>
        </inputAssignments>
        <object>Questionnaire__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Questionnaire_Record_For_True_Sales_Case_3</name>
        <label>Create Questionnaire Record For True Sales Case</label>
        <locationX>431</locationX>
        <locationY>1001</locationY>
        <connector>
            <targetReference>Create_Questionnaire_Record_For_True_Sales_Case_4</targetReference>
        </connector>
        <inputAssignments>
            <field>Answer__c</field>
            <value>
                <elementReference>Pricing_meet_needs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Stage__c</field>
            <value>
                <elementReference>OpportunityRecord.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question__c</field>
            <value>
                <stringValue>Does our pricing meet their needs? In the right ballpark?</stringValue>
            </value>
        </inputAssignments>
        <object>Questionnaire__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Questionnaire_Record_For_True_Sales_Case_4</name>
        <label>Create Questionnaire Record For True Sales Case</label>
        <locationX>436</locationX>
        <locationY>1121</locationY>
        <connector>
            <targetReference>Create_Questionnaire_Record_For_True_Sales_Case_5</targetReference>
        </connector>
        <inputAssignments>
            <field>Answer__c</field>
            <value>
                <elementReference>Internal_support</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Stage__c</field>
            <value>
                <elementReference>OpportunityRecord.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question__c</field>
            <value>
                <stringValue>Do you have enough inside support? Are our sponsors key decision makers? </stringValue>
            </value>
        </inputAssignments>
        <object>Questionnaire__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Questionnaire_Record_For_True_Sales_Case_5</name>
        <label>Create Questionnaire Record For True Sales Case</label>
        <locationX>434</locationX>
        <locationY>1244</locationY>
        <connector>
            <targetReference>Update_Opportunity_Display_Popup_Field</targetReference>
        </connector>
        <inputAssignments>
            <field>Answer__c</field>
            <value>
                <elementReference>Decision_makers</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Stage__c</field>
            <value>
                <elementReference>OpportunityRecord.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question__c</field>
            <value>
                <stringValue>Describe the decisions makers and their roles. Who is the final decision maker, Who needs to approve? (i.e. users, who, technical staff, compliance?) Can you map the decision makers informal decisions criteria well as the formal criteria?</stringValue>
            </value>
        </inputAssignments>
        <object>Questionnaire__c</object>
    </recordCreates>
    <recordLookups>
        <description>Get Opportunity fields</description>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>941</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Questions_By_Stage</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>OpportunityRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>LastModifiedById</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity_Display_Popup_Field</name>
        <label>Update Opportunity Display Popup Field</label>
        <locationX>912</locationX>
        <locationY>2287</locationY>
        <connector>
            <targetReference>Survey_Finish</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Display_Popup__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Closed_Lost</name>
        <label>Closed Lost</label>
        <locationX>1892</locationX>
        <locationY>175</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Questionnaire_For_Closed_Lost</targetReference>
        </connector>
        <fields>
            <name>Explanation10</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Please review the questions below, fill in the answers, &lt;/b&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;press Next and Finish.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Reason_Lost</name>
            <choiceReferences>ReasonLostAdministration</choiceReferences>
            <choiceReferences>ReasonLostBudgetCancelled</choiceReferences>
            <choiceReferences>ReasonLostCompetitor</choiceReferences>
            <choiceReferences>ReasonLostFeatures</choiceReferences>
            <choiceReferences>ReasonLostMinimumCommitment</choiceReferences>
            <choiceReferences>ReasonLostPricing</choiceReferences>
            <choiceReferences>ReasonLostTiming</choiceReferences>
            <choiceReferences>ReasonLostService</choiceReferences>
            <choiceReferences>ReasonLostOther</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason Lost</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Please_Comment_lost</name>
            <fieldText>Please Comment</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Winning_Competitor</name>
            <dataType>String</dataType>
            <fieldText>Winning Competitor</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Closed_Won</name>
        <label>Closed Won</label>
        <locationX>1702</locationX>
        <locationY>292</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Questionnaire_Record_For_Closed_Won</targetReference>
        </connector>
        <fields>
            <name>Explanation9</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Please review the questions below, fill in the answers, &lt;/b&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;press Next and Finish.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Reason_Won</name>
            <choiceReferences>ReasonWonCompetitor</choiceReferences>
            <choiceReferences>ReasonWonPricing</choiceReferences>
            <choiceReferences>ReasonWonFeatures</choiceReferences>
            <choiceReferences>ReasonWonService</choiceReferences>
            <choiceReferences>ReasonWonOther</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason Won</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Please_Comment_Won</name>
            <fieldText>Please Comment</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Contract_Signing</name>
        <label>Contract Signing</label>
        <locationX>1454</locationX>
        <locationY>405</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Questionaire_Record_For_Contract_Signing</targetReference>
        </connector>
        <fields>
            <name>Explanation8</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Please review the questions below, fill in the answers, &lt;/b&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;press Next and Finish.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Signature</name>
            <choiceReferences>SignatureYes</choiceReferences>
            <choiceReferences>SignatureNo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Signed?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Launch_Plan</name>
            <choiceReferences>LaunchPlanYes</choiceReferences>
            <choiceReferences>LaunchPlanNo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>On track per commit &amp; timeline?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Deal_Closing</name>
        <label>Deal Closing</label>
        <locationX>593</locationX>
        <locationY>479</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Questionnaire_Record_For_Deal_Closing</targetReference>
        </connector>
        <fields>
            <name>Explanation5</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Please review the questions below, fill in the answers, &lt;/b&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;press Next and Finish.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Expected_Objections</name>
            <fieldText>What are the objections we should expect and how do you plan to overcome them?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Competitive_Strategy</name>
            <fieldText>What are our competitors doing at this stage? Is our competitive strategy working?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Custom_Dev</name>
            <fieldText>If custom dev or integration required, is it scoped/agreed with Product/Solutions or BD?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Onboarding</name>
            <dataType>String</dataType>
            <fieldText>Have we scoped an onboarding/implementation plan?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Approver</name>
            <dataType>String</dataType>
            <fieldText>Who will approve the deal and are they briefed on the pricing &amp; terms?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Urgency</name>
            <fieldText>Is there a sense of urgency and how to create one?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Final_Negotiation</name>
        <label>Final Negotiations</label>
        <locationX>1244</locationX>
        <locationY>479</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Questionnaire_Record_For_Final_Negotiations</targetReference>
        </connector>
        <fields>
            <name>Explanation7</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Please review the questions below, fill in the answers, &lt;/b&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;press Next and Finish.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Signing_date</name>
            <dataType>Date</dataType>
            <fieldText>When would we expect to sign?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Launching_date</name>
            <dataType>Date</dataType>
            <fieldText>When would we expect to launch?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Final_priorities</name>
            <fieldText>What are the priorities in final negotiation? What is the bottom line price?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Revenue</name>
            <dataType>String</dataType>
            <fieldText>What revenue are you willing to commit to this Quarter/Year?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Final_scoping</name>
            <fieldText>Final scoping &amp; implementation plan agreed with client?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Blockers</name>
            <fieldText>Any contract blockers? Are these escalated?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Lead_Scoping</name>
        <label>Lead Scoping</label>
        <locationX>45</locationX>
        <locationY>177</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Questionnaire_Record_For_Lead_Scoping</targetReference>
        </connector>
        <fields>
            <name>Explanation</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Please review the questions below, fill in the answers, &lt;/b&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;press Next and Finish.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Geography</name>
            <choiceReferences>GeographyLocal</choiceReferences>
            <choiceReferences>GeographyRegional</choiceReferences>
            <choiceReferences>GeographyGlobal</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is it local, regional or global?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Scope_I</name>
            <choiceReferences>ScopeISingleEnd</choiceReferences>
            <choiceReferences>ScopeIMultiEnd</choiceReferences>
            <dataType>String</dataType>
            <fieldText>If agency is it a single end client or multi-end client opportunity?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Agency</name>
            <choiceReferences>AgencyOneOff</choiceReferences>
            <choiceReferences>AgencyRunrate</choiceReferences>
            <dataType>String</dataType>
            <fieldText>If agency is it one-off end client/campaign opp or run-rate opp ?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Actual_Cash_Value</name>
            <choiceReferences>Above</choiceReferences>
            <choiceReferences>Below</choiceReferences>
            <dataType>String</dataType>
            <fieldText>If agency is it below or above 25k ACV (Actual cash value)</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Qualification</name>
        <label>Qualification</label>
        <locationX>242</locationX>
        <locationY>301</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Questionnaire_Record_For_Qualification</targetReference>
        </connector>
        <fields>
            <name>Explanation3</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Please review the questions below, fill in the answers, &lt;/b&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;press Next and Finish.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Driver</name>
            <choiceReferences>DriverAgency</choiceReferences>
            <choiceReferences>DriverClient</choiceReferences>
            <choiceReferences>DriverConsultant</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Who is leading the process?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Advocates</name>
            <dataType>String</dataType>
            <fieldText>Who (internal or external) do we need as advocates?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Process</name>
            <fieldText>What is the decision making process? Is it a formal or informal process? (RFP vs Informal Sales vs Farming via Agency)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Products</name>
            <dataType>String</dataType>
            <fieldText>How well does our standard Product fit their needs?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Budget</name>
            <fieldText>Does the prospect have budget allocated against the opportunity?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Compelling_Event</name>
            <dataType>String</dataType>
            <fieldText>What is the compelling event?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Decision_timeline</name>
            <fieldText>When does the client expect to take the decision? How critical is this deadline and why?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Survey_Finish</name>
        <label>Survey Finish</label>
        <locationX>979</locationX>
        <locationY>2441</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Finish</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Thank you for your answers.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click finish&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>True_Sales_Case</name>
        <label>True Sales Case</label>
        <locationX>430</locationX>
        <locationY>409</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Questionnaire_Record_For_True_Sales_Case</targetReference>
        </connector>
        <fields>
            <name>Explanation4</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Please review the questions below, fill in the answers, &lt;/b&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;press Next and Finish.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Competitive_Strategy_True_Sales_case</name>
            <fieldText>Who else is in consideration, what is our competitive strategy ? A) have you positioned our offering against the scope? B) How have you positioned our offer against competitors?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Custom_Dev_True_Sales_Case</name>
            <fieldText>Do we expect any custom dev/integrations?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Meet_needs</name>
            <fieldText>How well does our service offering meet their needs? (Geos/Support)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Additional_factors</name>
            <dataType>String</dataType>
            <fieldText>What additional informal factors might influence decision ?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Pricing_meet_needs</name>
            <dataType>String</dataType>
            <fieldText>Does our pricing meet their needs? In the right ballpark?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Internal_support</name>
            <dataType>String</dataType>
            <fieldText>Do you have enough inside support? Are our sponsors key decision makers?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Decision_makers</name>
            <fieldText>Describe the decisions makers and their roles. Who is the final decision maker, Who needs to approve? (i.e. users, who, technical staff, compliance?) Can you map the decision makers informal decisions criteria well as the formal criteria?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Opportunity</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>ActualCashValuesTextTemplate</name>
        <text>{!Actual_Cash_Value}</text>
    </textTemplates>
    <textTemplates>
        <name>AgencyTextTemplate</name>
        <text>{!Agency}</text>
    </textTemplates>
    <textTemplates>
        <name>DriverTextTemplate</name>
        <text>{!Driver}</text>
    </textTemplates>
    <textTemplates>
        <name>GeographyTextTemplate</name>
        <text>{!Geography}</text>
    </textTemplates>
    <textTemplates>
        <name>LaunchingDateTextTemplate</name>
        <text>{!Launching_date}</text>
    </textTemplates>
    <textTemplates>
        <name>LaunchPlanTextTemplate</name>
        <text>{!Launch_Plan}</text>
    </textTemplates>
    <textTemplates>
        <name>ReasonLostPicklist</name>
        <text>{!Reason_Lost}</text>
    </textTemplates>
    <textTemplates>
        <name>ReasonWonTextTemplate</name>
        <text>{!Reason_Won}</text>
    </textTemplates>
    <textTemplates>
        <name>ScopeITextTemplate</name>
        <text>{!Scope_I}</text>
    </textTemplates>
    <textTemplates>
        <name>SignatureTextTemplate</name>
        <text>{!Signature}</text>
    </textTemplates>
    <textTemplates>
        <name>SigningDateTextTemplate</name>
        <text>{!Signing_date}</text>
    </textTemplates>
    <variables>
        <name>Explanation1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Please review the questions below, press next and finish to indicate your acknowledgement.    Feel free to fill in the answers as well.</stringValue>
        </value>
    </variables>
    <variables>
        <name>OpportunityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>QuestionaireRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Questionnaire__c</objectType>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
